APP_NAME="phones-recommendation-app"
APP_VERSION="1.0.0"

AI_PROVIDER=""
API_KEY=""

MODEL_NAME="all-MiniLM-L6-v2"

PERSIST_DIRECTORY="./data/chromadb"

FILE_ALLOWED_EXTENSIONS=[".csv"]
FILE_MAX_SIZE=10