APP_NAME="phones-recommendation-app"
APP_VERSION="1.0.0"

AI_PROVIDER="openai"
API_KEY=""
LLM_MODEL=""
LLM_BASE_URL=""
LLM_TEMPERATURE=0

MODEL_NAME="all-MiniLM-L6-v2"

PERSIST_DIRECTORY="./data/chromadb"

FILE_ALLOWED_EXTENSIONS=[".csv"]
FILE_MAX_SIZE=10

DATAFRAME_RAW_LOCATION="./data/raw_data/phone_with_specs.csv"
DATAFRAME_CLEANED_RAW_LOCATION="./data/raw_data/phone_raw.csv"
DATAFRAME_PROCESSED_LOCATION="./data/processed_data/phones_grouped_for_rag_v1.csv"
DATAFRAME_CLEANED_LOCATION="./data/processed_data/phone_cleaned.csv"
